<div class="center">
  <mat-card>
    <form (ngSubmit)="addQuestion()">

      <!--Question-->
      <mat-form-field id="questions">
        <textarea matInput matTextareaAutosize placeholder="Jag har aldrig... (en fråga per rad) <TAB> Rank" name="questions"
                  [(ngModel)]="questions" [matAutosizeMaxRows]="10" [matAutosizeMinRows]="10"></textarea>
      </mat-form-field>
      <div style="height: 12px"></div>
      <!--Level-->
      <mat-form-field id="levels">
        <textarea matInput matTextareaAutosize placeholder="Nivå" name="levels" [(ngModel)]="levels"
                  type="number" [matAutosizeMaxRows]="10" [matAutosizeMinRows]="10"></textarea>
      </mat-form-field>
      <div style="height: 12px"></div>
      <!--Submit-->
      <button
        mat-raised-button
        color="primary">
        Lägg till frågor
      </button>
    </form>
  </mat-card>
</div>
