.description-text{
  margin-top: 2vh;
  font-size: 2vh;
  color: white;
  text-align: center;
}

.content {
  max-width: 40vh;
  width: 100%;
}

.logo{
  margin-top: 10vh;
  width: 40vh;
}

.logo-wrapper{
  min-height: 56vh;
}
