.logo{
  margin-top: 10vh;
  width: 40vh;
}

.bottom-logo{
  width: 20vh;
  bottom: 0;
  position: absolute;
}

.game-code{
  position: absolute;
  top: 0vh;
  right: 1vh;
  text-align: center;
  color: white;
}

.help-button{
  position: absolute;
  top: 2vh;
  left: 2vh;
  color: white;
}

.game-code p{
  font-size: 2vh;
  margin-bottom: 3px;
}

.game-code b{
  font-size: 4vh;
  color: white;
}

.players{
  width: 100%;
  font-size: 2vh;
  text-align: center;
  color: white;
  margin-top: 2vh;
  margin-bottom: 20vh;
}

.players b{
  font-size: 3vh;
  padding-bottom: 10px;
}
