#invite {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  color: white;
}

.help-button{
  position: absolute;
  top: 2vh;
  left: 2vh;
  color: white;
}

.players{
  width: 100%;
  font-size: 2vh;
  text-align: center;
  color: white;
  margin-top: 2vh;
  margin-bottom: 20vh;
}

.players b{
  font-size: 3vh;
  padding-bottom: 2vh;
}
.bottom-text {
  width: 100%;
  font-size: 3vh;
  font-weight: lighter;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 15vh;
}

.start-game-button{
  position: absolute;
  bottom: 15vh;
  max-width: 40vh;
  width: 100%;
}
