<div class="center">
  <app-game-code [gameCode]="party?.joinCode"></app-game-code>
  <app-menu-button (gameInfoClick)="onGameInfoClick()" (leaveClick)="onLeaveClick()"></app-menu-button>
  <div>
    <img *ngIf="game" [src]="game?.image_path" class="logo">
  </div>
  <div class="players">
    <div style="margin-bottom: 10px">
      <b>Players</b>
    </div>
    <div fxLayout="row wrap">
      <div style="padding-bottom: 2vh" fxFlex="33" *ngFor="let alias of aliases | async">{{alias}}</div>
    </div>
  </div>
    <div class="content">
      <app-default-size-button class="bottom-button" *ngIf="isLeader" (click)="startGame()" [text]="'Start Game!'">
      </app-default-size-button>
    </div>
  <div class="bottom-text center" *ngIf="!isLeader && isLoggedIn | async" [innerHtml]="waitingMessage"></div>
  <div class="center">
    <app-footer-image></app-footer-image>
  </div>
</div>
