.content {
  max-width: 40vh;
  width: 100%;
}

.logo{
  margin-top: 10vh;
  width: 40vh;
}

.logo-wrapper{
  min-height: 56vh;
}

.help-button{
  position: absolute;
  top: 2vh;
  left: 2vh;
  color: white;
}

.game-code b{
  font-size: 4vh;
  color: white;
}

.players{
  width: 100%;
  font-size: 2vh;
  text-align: center;
  color: white;
  margin-top: 2vh;
  margin-bottom: 20vh;
}

.players b{
  font-size: 3vh;
  padding-bottom: 2vh;
}
.bottom-text {
  width: 100%;
  font-size: 3vh;
  font-weight: lighter;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 15vh;
}
