<div class="center">
  <div class="game-code">
    <p>Game code</p>
    <b>{{party?.joinCode}}</b>
  </div>
  <div class="help-button">
    <mat-icon style="font-size: 5vh">help</mat-icon>
  </div>
  <img src="../../assets/illustrations/never_have_I_ever_logo_text.png" class="logo">
  <div class="players">
    <div style="margin-bottom: 10px">
      <b>Players</b>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="space-between start">
      <div style="padding-bottom: 10px" fxFlex="0 1 calc(29% - 5px)" *ngFor="let alias of aliases | async">{{alias}}</div>
    </div>
  </div>

</div>
<app-default-size-button *ngIf="isLeader" (click)="startGame()" [text]="'Start Game!'"></app-default-size-button>
<div class="center">
  <a [routerLink]="['/']" class="bottom-logo">
    <img src="../../assets/illustrations/logo.png" class="bottom-logo">
  </a>
</div>
