<mat-card style="max-width: 450px; margin: 10px auto">
  <mat-card-header>
    <mat-card-title>Never have I ever</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      ...{{question}}
    </div>
    <form *ngIf="showForm">
      <mat-form-field class="full-width">
        <textarea name="question" matInput placeholder="Write question" [(ngModel)]="newQuestion"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
   <!-- <button mat-button (click)="answeredQuestion(true)">Jag har</button>
    <button mat-button (click)="answeredQuestion(true)">Jag har inte</button>-->
    <button mat-raised-button color="primary" (click)="showForm=!showForm">Add question</button>
    <button *ngIf="showForm" mat-raised-button color="accent" (click)="addQuestionToGame(newQuestion)">Submit</button>

  </mat-card-actions>
</mat-card>
