<button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="gameInfoClick.emit($event)">
    <mat-icon>info</mat-icon>
    <span>Game Info</span>
  </button>
  <button mat-menu-item (click)="inviteFriends()">
    <mat-icon>share</mat-icon>
    <span>Invite Friend</span>
  </button>
  <button mat-menu-item (click)="leaveGameClick()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Leave party</span>
  </button>
</mat-menu>
