.statement {
    height: 10vh;
    border-radius: 5px;
    max-width: 40vh;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding: 1vh;
    color: white;
    font-weight: bold;
    font-size: 3vh;
}
