<div class="center">
  <div class="content">
    <app-clock #totClock [count]="timer" (countdownFinished)="timerComplete()"></app-clock>
    <div *ngIf="gameInstance && party" >{{gameInstance?.currentVotes?.length + '/' + party?.members?.length + 'Have voted'}}</div>
    <app-default-size-button *ngIf="isGameLeader | async" [text]="'Next Question'" [matIconName]="'chevron_right'" (click)="setNextQuestion()"></app-default-size-button>
    <br><br>
    <app-countdown *ngIf="next"></app-countdown>
    <app-statement-card [text]="gameInstance?.currentQuestion.dis" [backgroundColor]="colordis" (click)="selectStatement(voteValue.dis)"
      [choice]="selectedStatement===voteValue.dis"></app-statement-card>

    <div id="or">
      or
    </div>

    <app-statement-card [text]="gameInstance?.currentQuestion.that" [backgroundColor]="colordat" (click)="selectStatement(voteValue.that)"
      [choice]="selectedStatement===voteValue.that"></app-statement-card>

  </div>
</div>
