<div class="center">
  <div class="content">

    <div *ngIf="gameInstance && party" >{{gameInstance?.currentVotes?.length + '/' + party?.members?.length + 'Have voted'}}</div>
    <app-default-size-button class="next-question-button" *ngIf="isGameLeader | async" [text]="'Next Question'" [matIconName]="'chevron_right'" (click)="setNextQuestion()"></app-default-size-button>

    <app-countdown *ngIf="next"></app-countdown>
    <app-statement-card [text]="dis" [backgroundColor]="colordis"></app-statement-card>
    <app-default-size-button [matIconName]="selectedStatement===voteValue.dis ? 'favorite'  : 'favorite_border'"
                             [text]="gameInstance?.currentQuestion.dis" (click)="selectStatement(voteValue.dis)">
    </app-default-size-button>
    or
    <app-default-size-button [matIconName]="selectedStatement===voteValue.that ? 'favorite'  : 'favorite_border'"
                             [text]="gameInstance?.currentQuestion.that" (click)="selectStatement(voteValue.that)">
    </app-default-size-button>
    <app-statement-card [text]="dat" [backgroundColor]="colordat"></app-statement-card>

  </div>
</div>