<div class="center">
  <div class="content">
    <div *ngIf="gameInstance && party" style="color: #FFFFFF; text-align: center; position: relative">
      {{gameInstance?.currentVotes?.length + '/' + party?.members?.length + ' answers'}}
      <div style="top: 0; right: 0; position: absolute">
        <app-clock *ngIf="!gameInstance?.viewResults" #totClock [count]="timer" (countdownFinished)="timerComplete()"></app-clock>
        <app-default-size-button *ngIf="gameInstance?.viewResults && (isGameLeader | async)" [text]="'Next Question'" [matIconName]="'chevron_right'" (click)="setNextQuestion()"></app-default-size-button>
      </div>
    </div>
    <br><br>
    <app-countdown *ngIf="next"></app-countdown>

      <app-statement-card [option]="gameInstance?.currentQuestion.dis" [backgroundColor]="colordis" (click)="selectStatement(voteValue.dis)"
        [choice]="selectedStatement===voteValue.dis"></app-statement-card>

      <div id="or">
        OR
      </div>

      <app-statement-card [option]="gameInstance?.currentQuestion.that" [backgroundColor]="colordat" (click)="selectStatement(voteValue.that)"
        [choice]="selectedStatement===voteValue.that"></app-statement-card>
  </div>
</div>
