<div class="center">
  <app-back-button (click)="hideMenuButton=!hideMenuButton" *ngIf="hideMenuButton">
  </app-back-button>
  <app-game-code *ngIf="gameInstance" [joinCode]="gameInstance?.joinCode"></app-game-code>
  <app-menu-button *ngIf="!hideMenuButton" (gameInfoClick)="onGameInfoClick()" ></app-menu-button>
  <img src="../../assets/illustrations/never_have_I_ever_logo_text.png" class="logo">
  <div class="content">

  </div>
  <app-footer-image></app-footer-image>
  <app-invite id="invite"></app-invite>
</div>
