.buttons {
  margin-bottom: 4% !important;
}

.logo {
  margin-top: 10vh;
  width: 40vh;
}

.back-button{
  position: absolute;
  top: 2vh;
  left: 1vh;
  color: white;
}

.question-player{
  position: absolute;
  top: 48vh;
  width: 40vh;
  text-align: center;
}

.question-game-leader{
  position: absolute;
  top: 42vh;
  width: 40vh;
  text-align: center;
}

.bottom-logo {
  width: 20vh;
  bottom: 0;
  position: absolute;
}

.add-question-button{
  position: absolute;
  bottom: 15vh;
  max-width: 40vh;
  width: 100%;
}

.next-question-button{
  position: absolute;
  bottom: 25vh;
  max-width: 40vh;
  width: 100%;
}

.add-question-div{
  margin-top: 3vh;
  width: 40vh;
}

#invite {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  color: white;
}

.content {
  max-width: 40vh;
  width: 100%;
}
.bottom-text {
  width: 100%;
  font-size: 3vh;
  font-weight: lighter;
  text-align: center;
  color: white;
}
