<div class="center">
  <app-game-code [joinCode]="(party | async)?.joinCode"></app-game-code>
  <app-menu-button [hidden]="!showMenu"></app-menu-button>
  <app-back-button [hidden]="showMenu" (click)="onBackButtonClick()"></app-back-button>
  <div class="logo-wrapper">
    <img *ngIf="gameObservable | async as game" [src]="game.image_path" class="logo">
  </div>
  <div style="width: 100%">
      <router-outlet></router-outlet>
  </div>
  <div fxLayout="column" fxFlexAlign="center">
    <app-footer-image></app-footer-image>
  </div>
  <app-invite id="invite"></app-invite>
</div>
