body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

#countdown {
  position: relative;
  margin: auto;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 10px
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 20px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 56.5px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 56.5px;
  }
}
