.content {
    margin: 0 10%;
    text-align: center;
    font-family: Roboto, sans-serif;
}  

.game-code-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
    
.game-code {
    margin: auto;
    width: 80%;
    margin-bottom: 0;
    text-align: center;
}

mat-form-field-infix {
    background-color: white !important;
}

.divider {
    width: 60%;
    margin: auto;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-input-underline {
    background-color: #ffffff !important;   
}

.join {
    margin-bottom: 6%;
    background-color: black;
    color: white;
  }