<div class="center">
  <div class="content">
    <img src="../../assets/illustrations/logo_with_text.png">

    <form (ngSubmit)="joinGame()">
      <mat-form-field class="join-code" appearance="fill">
        <mat-label>Enter join code:</mat-label>
        <input matInput [(ngModel)] = "joinCode" name="joinCode">
      </mat-form-field>
      <button mat-flat-button color="primary">
        Join game!
      </button>
    </form>

    <h1 id="start">START A GAME</h1>

    <mat-grid-list [cols]="2" rowHeight="1:1" gutterSize="10">
      <mat-grid-tile *ngFor="let game of games | async">
        <mat-card>
          <img src="{{game.image_path}}">
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
