<div class="content">
  <img src="../../assets/illustrations/logo_with_text.svg" class="logo">

  <form class="game-code-form">
    <mat-form-field class="game-code">
      <input matInput placeholder="Enter Game Code" [(ngModel)] = "gameCode" name="gameCode">
    </mat-form-field>
    <button mat-flat-button class="join" (click)="joinGame()" color="primary">
      Join Game!
    </button>
  </form>
  <mat-divider class="divider"></mat-divider>

  <h1 id="start"> START GAME </h1>
  <ul id="games">
    <li *ngFor="let game of games">
      {{ game.name }}
      <img src={{game.image_path}} alt="game logo" id="small">
    </li>
  </ul>
</div>
