.content {
  margin-top: 24px;
  max-width: 300px;
  width: 100%;
}

img {
  width: 100%;
}

button {
  width: 100%;
  height: 59.5px;
}

#start {
  text-align: center;
  color: white;
  margin-bottom: 4px !important;
}

.game-divider{
  margin-bottom: 20px
}

.game-image:hover {
  cursor: pointer;
  opacity: 0.925;
}
/*
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}*/

