.game-code{
  position: absolute;
  top: 0vh;
  right: 1vh;
  text-align: center;
  color: white;
  width: 12vh;
}

.game-code p{
  font-size: 2vh;
  margin-bottom: 3px;
}

.game-code b{
  font-size: 4vh;
  color: white;
}
