.logo {
  margin-top: 10vh;
  margin-bottom: 20vh;
  width: 40vh;
}

.bottom-logo {
  width: 20vh;
  bottom: 0;
  position: absolute;
}

.add-question-button{
  position: absolute;
  bottom: 15vh;
}

/deep/ .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}
