.buttons {
  margin-bottom: 4% !important;
}


.question-player{
  position: absolute;
  top: 48vh;
  width: 40vh;
  text-align: center;
}

.question-game-leader{
  position: absolute;
  top: 42vh;
  width: 40vh;
  text-align: center;
}


.add-question-button{
  position: absolute;
  bottom: 15vh;
  max-width: 40vh;
  width: 100%;
}

.next-question-button{
  position: absolute;
  bottom: 25vh;
  max-width: 40vh;
  width: 100%;
}

.add-question-div{
  margin-top: 3vh;
  width: 40vh;
}

#invite {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  color: white;
}

.content {
  max-width: 40vh;
  width: 100%;
}

.nihe-text-animation b {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.1s;
}
