<div class="center">
  <app-back-button (click)="showAddQuestion=!showAddQuestion" *ngIf="showAddQuestion">
  </app-back-button>
  <app-game-code *ngIf="gameInstance" [joinCode]="gameInstance?.joinCode"></app-game-code>
  <app-menu-button *ngIf="!showAddQuestion"  ></app-menu-button>
  <img src="../../assets/illustrations/never_have_I_ever_logo_text.png" class="logo">
  <div class="content">
    <div class="center" *ngIf="!showAddQuestion && currentQuestion">
      <div *ngIf="!(isGameLeader | async)" class="question-player">
        <app-nhie-card [question]="currentQuestion.question"></app-nhie-card>
      </div>
      <div *ngIf="isGameLeader | async" class="question-game-leader">
        <app-nhie-card [question]="currentQuestion.question"></app-nhie-card>
      </div>
      <app-default-size-button class="add-question-button" [text]="'Add Question'" [matIconName]="''" (click)="showAddQuestion=!showAddQuestion"></app-default-size-button>
      <app-default-size-button class="next-question-button" *ngIf="isGameLeader | async" [text]="'Next Question'" [matIconName]="'chevron_right'" (click)="setNextQuestion()"></app-default-size-button>
    </div>
    <div class="add-question-div" *ngIf="showAddQuestion">
      <app-add-manual-question
        (submitNewQuestion)="submitNewManualQuestion($event)">
      </app-add-manual-question>
    </div>
  </div>
  <app-footer-image></app-footer-image>
  <app-invite id="invite"></app-invite>
</div>
