.logo {
  margin-top: 10vh;
  width: 40vh;
}

.back-button{
  position: absolute;
  top: 2vh;
  left: 1vh;
  color: white;
}

.question{
  margin-top: 20vh;
}

.bottom-logo {
  width: 20vh;
  bottom: 0;
  position: absolute;
}

.add-question-button{
  position: absolute;
  bottom: 15vh;
}

.add-question-div{
  margin-top: 3vh;
  width: 40vh;
}

/deep/ .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}
