.buttons {
  margin-bottom: 4% !important;
}

.logo {
  margin-top: 10vh;
  width: 40vh;
}

.back-button{
  position: absolute;
  top: 2vh;
  left: 1vh;
  color: white;
}

.question{
  margin-top: 20vh;
  width: 40vh;
  text-align: center;
}

.bottom-logo {
  width: 20vh;
  bottom: 0;
  position: absolute;
}

.add-question-button{
  position: absolute;
  bottom: 15vh;
  width: 76%;
}

.add-question-div{
  margin-top: 3vh;
  width: 40vh;
}
