
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar {
  color: white;
  margin-bottom: 24px!important;
}

.primarySnackbar {
  background-color: mat-color($primary) !important;
}

.accentSnackbar {
  background-color: mat-color($accent) !important;
}

.errorSnackbar {
  background-color: mat-color($warn) !important;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left {
  display: flex;
  align-items: left;
  flex-direction: column;
}

/*Div to create perfect squares*/
/*Make objects inside 'position: absolute' to fill square*/
.div-square {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}


.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
