<div class="center">
  <div class="content">
    <img src="../../assets/illustrations/logo_with_text.png">
    <mat-tab-group>
      <mat-tab label="Join Game">
        <form (ngSubmit)="joinGame()">
          <mat-form-field appearance="fill">
            <mat-label>Game code</mat-label>
            <input matInput [(ngModel)]="joinCode" name="joinCode" type="number" min="0" max="999999">
          </mat-form-field>
          <div style="height: 12px"></div>
          <app-default-size-button [text]="'Join Game'" [matIconName]="'chevron_right'" [disabled]="!joinCode"></app-default-size-button>
        </form>
      </mat-tab>
      <mat-tab label="Create game">
        <h1 id="start">CREATE GAME</h1>
        <mat-divider class="game-divider"></mat-divider>
        <mat-grid-list [cols]="2" rowHeight="1:1" gutterSize="10">
          <mat-grid-tile *ngFor="let game of games | async">
            <img src="{{game.menuImagePath}}" (click)="selectGame(game)" class="game-image">
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
