.content {
  margin-top: 24px;
  max-width: 300px;
  width: 100%;
}

img {
  width: 100%;
}

button {
  width: 100%;
  height: 59.5px;
}

#start {
  text-align: center;
  color: white;
  margin-bottom: 4px !important;
}

.game-divider{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.game-image-div{
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.game-image{
  height: 90%;
  width: 90%;
}

.game-image:hover {
  cursor: pointer;
  opacity: 0.925;
}

/deep/ .mat-tab-label{
  width: 50% !important;
  color: #ffffff !important;
  font-size: 2vh;
}
/*
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}*/

