<div *ngIf="gameObservable | async as game" class="center">
  <span *ngIf="isGameLeader !== null">
  <app-back-button [routerLink]="'/'"></app-back-button>
  <app-game-code [joinCode]="!isGameLeader ? joinCode : false"></app-game-code>
  <div class="content">
    <div class="center">
      <img [src]="game?.image_path" class="logo">
    </div>
    <form (ngSubmit)="setAlias()">
      <mat-form-field appearance="fill">
        <mat-label>Enter Nickname</mat-label>
        <input matInput [(ngModel)]="alias" name="alias">
      </mat-form-field>
      <div style="height: 12px"></div>
      <app-default-size-button [text]="isGameLeader ? 'Create game' : 'Join game'"
                               [matIconName]="'chevron_right'"></app-default-size-button>
    </form>
    <mat-divider class="divider"></mat-divider>
    <div class="description-text">
      <p [innerHTML]="game.description"></p>
    </div>
  </div>
  <app-footer-image></app-footer-image>
  </span>
</div>
